# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build artifacts
dist/
build/
*.egg-info/

# Third-party library directory
external/

# Data files
data/*.mtx

# Environment-related files
.env
*.env
*.venv
.venv/

subprojects/packagecache/
subprojects/sgtsnepi*/
.DS_Store
.vscode/settings.json
